body {
  padding-top: 20px;
  background-image: url(https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pangolin", cursive;
}
h2 {
  color: #f2edd7;
  text-align: center;
  font-size: 35px;
}
form {
  padding-bottom: 10px;
}
input {
  background: #f2edd7;
  border: none;
  border-radius: 5px;
}
li {
  font-size: 20px;
  list-style-type: none;
}
li:first-letter {
  text-transform: capitalize;
}
button {
  background: transparent;
  border: none;
  border-radius: 5px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -20px;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 650px;
}
.header,
.main,
.bottom {
  border: none;
  border-radius: 10px;
  margin: 5px;
  background: rgba(10, 10, 10, 0.795);
  color: #f2edd7;
  padding: 5px;
}
.header {
  text-align: center;
}
.myCity {
  font-size: 39px;
  text-align: center;
}
.codedBy {
  color: rgb(10, 10, 10);
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
}
.bottom {
  margin: 10px;
  text-align: center;
}
.link {
  color: white;
}
#currentTemp {
  font-size: 45px;
}
#bigIcon {
  width: 150px;
}
#icon {
  background: #a3a08fb6;
  border-radius: 25px;
}
