body {
  padding-top: 20px;
  background-image: url(https://store-images.s-microsoft.com/image/apps.20898.14610786053843576.c718bbac-780a-4f0a-9096-92a785a8770e.88437c00-e920-4364-a1ef-23aa039bbe91?w=1399&h=874&q=90&format=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pangolin", cursive;
}
h2 {
  color: #f2edd7;
  text-align: center;
  font-size: 35px;
}
form {
  padding-bottom: 10px;
}
input {
  background: #f2edd7;
  border: none;
  border-radius: 5px;
}
li {
  font-size: 20px;
  list-style-type: none;
}
li:first-letter {
  text-transform: capitalize;
}
button {
  background: transparent;
  border: none;
  border-radius: 5px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -20px;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 650px;
}
.header,
.main,
.bottom {
  border: none;
  border-radius: 10px;
  margin: 5px;
  background: rgba(10, 10, 10, 0.795);
  color: #f2edd7;
}
.header {
  text-align: center;
}
.myCity {
  font-size: 39px;
  text-align: center;
}
#bigIcon {
  width: 150px;
}
.codedBy {
  color: rgb(10, 10, 10);
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
}

#currentTemp {
  font-size: 45px;
}
.units .active {
  color: #f2edd7;
  cursor: default;
}
.units a {
  text-decoration: none;
}
.bottom {
  margin: 10px;
  text-align: center;
}
#icon {
  background: #a3a08fb6;
  border-radius: 25px;
}
